
/*! *Marie Marin  ========================================================= * Mywishlist =========================================================GENERAL ========================================================= */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body
{
  font-family: 'Montserrat', Helvetica, sans-serif;
  min-width: 320px;
}

/*************** Entêtes du site **********************************/
#jumbotronHome
{
  background-image: url("img/jumbotron5.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

.jumbotron h1
{
  padding: 15px 15px;
  font-size: 50px;
  line-height: 80px;
  opacity: 0.85;
  padding-top: 30px;
}

/* Entête page moncompte*/
#jumbotronConnex
{
  background-image: url("img/jumbotron6.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

#jumbotronConnex h1
{
  padding: 15px 15px;
  font-size: 50px;
  line-height: 80px;
  opacity: 0.85;
  padding-top: 90px;
  color: white;
}

#jumbotronListe
{
  background-image: url("img/jumbotron2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

#jumbotronListe h1
{
  padding: 15px 15px;
  font-size: 50px;
  line-height: 80px;
  opacity: 0.85;
  padding-top: 90px;
}

/*liens du site */
li>a
{
  color: black;
  text-decoration: none;
}

li>a:hover
{
  color: black;
  text-decoration: none;
}


.Synopsis {
 
  padding-top: 5px;
  padding-bottom: 10px;  
  margin-bottom: 20px;  
  margin-top: 10px;

}

.Synopsis p {

  font-size:  24px; 
  text-align: left;

}

.Synop h2 {

  font-family: 'Lobster', Georgia, Times, serif;
  color: #1A535C;
  padding-top: 20px; 
  padding-bottom: 5px; 
  font-weight: bold;
  font-size: 40px; 

}

.facts {

  background-color: rgba(153, 122, 144,0.8);
  border-radius: 10px 10px;
  padding-top: 10px;
  margin-bottom: 20px; 
  margin-top: 10px;
  padding-left: 10px; 
  padding-right: 10px; 

}

.fact {


  border-radius: 10px 10px rgba(153, 122, 144,0.8);
  padding-top: 10px;
  margin-bottom: 20px; 
  margin-top: 10px;
  padding-left: 10px; 
  padding-right: 10px; 

}

.facts ul {

  list-style: none; 
  padding : 5px 5px;
  font-size:20px; 
  text-align: left;

}
.montruc{
         

padding-left:300px;



         }

.fact ul {

  list-style: none; 
  padding : 5px 5px;
  font-size:20px; 
  text-align: left;

}

/*! ========================================================= CSS Pour formulaires connexion, inscription, edition liste, creation liste =========================================================*/
.labels
{
  display: inline-block;
  text-align: left;
  width: 70%;
  padding-right: 50px;
  vertical-align: top;
  margin-top: 15px;
}

.rightTab
{
  display: flex;
  justify-content: center;
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;
}

.input-field
{
  flex-wrap: wrap;
  height: 45px;
  width: 280px;
  padding: 15px;
  margin: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#submit
{
  background-color: rgba(153, 122, 144,0.8);
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 100px;
  margin: 10px;
  border: 1px solid rgba(153, 122, 144,0.8);
}
.submit {
         
  background-color: rgba(153, 122, 144,0.8);
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 100px;
  margin: 10px;
  border: 1px solid rgba(153, 122, 144,0.8);

}


.btn.btn-success {
                   
  background-color: rgba(153, 122, 144,0.8);
  border-radius: 4px;
  color: white;
  font-size: 1em;

  margin: 5px;
  border: 1px solid rgba(153, 122, 144,0.8);
}

.btn.btn-success:hover{
                   
   background-color: rgba(153, 122, 144,0.8);
   border: 1px solid rgba(153, 122, 144,0.8);
}

.bton
{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.col-sm-7
{
  text-align: center;
}

.btn.btn-success-bouton {
    background-color: rgba(153, 122, 144,0.8);
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40;
    width: 100px;
    margin: 5px;
    border: 1px solid rgba(153, 122, 144,0.8);
}

.btn.btn-primary-bouton {
    background-color: rgba(170, 122, 144,0.8);
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40;
    margin: 5px;
    border: 1px solid rgba(153, 122, 144,0.8);
}


/*! =========================================================PAGE MON COMPTE  =========================================================*/
#leftside
{
  padding-left: 1.5rem;
  text-align: justify;
  float: left;
  border-right: 2px solid #9FB1BC;
  padding-top: 20px;
}

#leftside>p
{
  padding: 15px;
}

/*TITRE PROFIL DANS PAGE MON COMPTE*/
h2.heading
{
  font-size: 40px;
}

div.heading
{
  padding-bottom: 25px;
}

/*Lien PAGE MON COMPTE créer liste se connecter*/
.lien
{
  text-decoration: none;
  color: #2CA6A4;
}

.lien:hover
{
  text-decoration: none;
  color: #2CA6A4;
  font-weight: bold;
}

.lien2
{
  text-decoration: none;
  color: #EA526F;
}

.lien2:hover
{
  text-decoration: none;
  color: #EA526F;
  font-weight: bold;
}

.col-md-3
{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-sm-5
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-md-6
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************************************************************************/
/**********************************Icones PAGE ACCUEIL*******************************/
.gitfbox
{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.giftbox
{
  padding-bottom: 8px;
}

/******************************MISE EN PAGE MES LISTES ***********************************************/
div.col-md-6.meslistes
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.col-md-6.meslistes >.btn {
background-color: rgba(153, 122, 144,0.8);
border: 3px solid rgba(153, 122, 144,0.8);
 }

p.titre a{
  color: rgba(153, 122, 144);
  font-size: 24px;
  padding-bottom: 10px;
}

p.titre a:hover{
 text-decoration: none;
 color: rgba(153, 122, 144,0.8);
}

.titreliste{
  
  text-align: center; 
  justify-content: center            

}

div.col-md-6.infos
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle
}

.listepub
{
  padding-top: 20px;
}

.list
{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px #1A202B;
}

.btn.btn-outline-info.btn-sm
{
  border: 2px solid #E4DEE8;
  padding: 10px;
}

/************************************************************************************/
/******************************FOOTERS DU SITE ***********************************************/
.pagefooter
{
  padding-top: 50px;
  padding-bottom: 80px;
}

.myquote
{
  background-color: #1A202B;
  padding-top: 40px;
  padding-bottom: 30px;
  color: white;
}

blockquote
{
  padding: 20px;
}

.em
{
  text-align: center;
}

.menu
{
  padding-top: 20px;
}

.ul
{
  text-align: center;
}

/****************************mileu alignement des photos et boutons***********************/
.wrapper .col-lg-4
{
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  text-align: center;
}

/******************************côté photo PAGE MON COMPTE****************/
.btn-info
{
  margin-top: 20px;
}

/************************************************************************************/
/*section pourquoi choisir myWishlist page accueil sans connexion */
.icon
{
  margin-left: auto;
  margin-right: auto;
}

#boite, #boite1, #boite2,#boite3
{
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-colored
{
  background-color:rgba(153, 122, 144,0.8);
}

.nav-transparent
{
  background-color:transparent;
}

.nav-colored1
{
  background-color:rgba(153, 122, 144,0.8);
}

.nav-transparent1
{
  background-color:transparent;
}

/*************************************MEDIA QUERIES***********************************************/
@media (max-width: 399px)
{
  /*pour  images de mon compte*/
  .col-sm-5 img
  {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .mychoices p
  {
    font-size: 1.5rem;
  }

  .col-md-6 p
  {
    text-align: center;
  }

  .mychoices .col-md-4 img
  {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-4 .btn
  {
    display: block;
    position: center;
  }

  /*Ajustement des titres */
  #jumbotronHome h1
  {
    padding-top: 100px;
    font-size: 40px;
    color: white;
  }

  .section1 h1
  {
    font-size: 30px;
  }

  .wrapper h2
  {
    font-size: 30px;
  }

  /*Ajustement des polices footer */
  .pagefooter blockquote
  {
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }

  .menu h4
  {
    font-size: 20px;
  }

  .footer-bottom span
  {
    font-size: 13px;
  }

  .col-lg-4
  {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

/*************************************/
@media (min-width: 400px) and (max-width: 415px)
{
  .wrapper h2
  {
    font-size: 35px;
  }

  .col-lg-4
  {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 700px)
{
  #boite1
  {
    margin: 0;
  }

  .card-title
  {
    font-size: 10px;
    margin: 0;
  }

  .card-body p
  {
    display: none;
  }

  #leftside p
  {
    font-size: 12px;
    text-align: left;
  }

  #leftside h3
  {
    font-size: 20px;
  }
}

@media (min-width: 701px) and (max-width: 768px)
{
  #boite1
  {
    margin: 0;
  }

  .card-title
  {
    font-size: 10px;
    margin: 0;
  }

  .card-body p
  {
    font-size: 10px;
  }
}